.auth {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 340px;
}
.input {
    width: 340px;
    padding: 10px 0px 10px 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.button-black:hover {
    background-color: #555;
}

.login-link {
    text-align: center;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);
}
.input-container {
    position: relative;
    margin-bottom: 15px;
}
.input-with-icon {
    display: flex;
    align-items: center;
}
.input-with-icon input {
    padding-right: 30px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-with-icon .icon {
    position: absolute;
    right: 10px;
    color: #aaa;
    pointer-events: none;
}
.icon i {
    font-size: 14px;
}
.error-message {
    margin-bottom: 10px;
}
